doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0"
      name="viewport"
      )
    title #{title ? title + ' - ' : ''}SportsPro Technical Support
    link(
      href="/libs/notyf/notyf.min.css"
      rel="stylesheet"
      )
    link(
      href="/libs/sweetalert2/sweetalert2.min.css"
      rel="stylesheet"
      )
    link(
      href="/css/main.css"
      rel="stylesheet"
      )
  body
    // Header
    include ../partials/header.pug

    // Main Content
    main.container
      block content

    // Footer
    include ../partials/footer.pug

    //- Scripts
    script(src="/libs/notyf/notyf.min.js")
    script(src="/libs/sweetalert2/sweetalert2.min.js")

    block scripts
