extends ../layouts/default.pug

block content
  .main-panel
    .header-section
      h2 Technician List
      a.btn.btn-primary(href="/technicians/create") Add Technician
      a(href="/") Home

    // Technicians Table
    .table-container.mb-4
      table
        thead
          tr
            th First Name
            th Last Name
            th Email
            th Phone
            th Action
        tbody
          each technician in technicians
            tr
              td #{technician.firstName}
              td #{technician.lastName}
              td #{technician.email}
              td #{technician.phone}
              td
                a.btn.btn-primary(
                  href=`/technicians/${technician.techId}/edit`
                ) Edit
                button.btn.btn-danger.technician-delete-button(
                  type="button"
                  data-technician-id=technician.techId
                ) Delete

block scripts
  script(src="/js/technicians.js" type="module")
